@use "./partials/variables" as *;
@use "./partials/mixins" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

img {
    width: 100%;
    display: block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: underline;
    }
}

button:hover {
    cursor: pointer;
}

h1 {
    color: $font-color;
    @include main-font-center;
}

header {
    h1 {
        color: $font-color-third;
    }

    nav {
        ul {
            display: flex;
            align-items: center;
            padding: 20px;
            gap: 20px;
        }
    }
}
